html,
body {
    margin: 0;
    height: 100%;
}

table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

td {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 24px;
}
.a {
    background-color: #42ddc8;
}
.b {
    background-color: #f7c6b0;
}
